.hide{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

@media screen and (min-width: 1558px){
    body{
        font-weight: 400;
    }
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}
span.studio{
    color: #2e2f42;
}

.button,
.form-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color:  #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: #404bbf;
}

.form-btn:hover,
.form-btn:focus{
    background-color: #404bbf;
}

.burger-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}

@media (hover: hover){
    .button:hover{
        background-color: #404bbf;
    }
}
@media not (hover: hover) {
    .button:hover {
        background-color: #404bbf;
    }
}

@media screen and (min-width: 768px) {
    .burger-btn{
        display: none;
    }
    
}

ul{
    list-style-type: none;
}

.container {

    /* PHONE */

    max-width: 320px;
    /* width: 1168px; */
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
    /* padding: 0 16px; */
}

@media screen and (min-width: 768px){
    .container{

        /*TABLET*/
        max-width: 768px;
    }
}

@media screen and (min-width:1158px){
    .container{
    /*DESKTOP*/
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    z-index: 100;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

@media only screen and (min-width: 768px) {
    .header-container {
        padding: 0 16px;
    }

}

.header-nav {
    display: flex;
    align-items: center;
    gap: 120px;
}

@media only screen and (min-width: 1158px) {
    .header-nav {
        gap: 76px;
    }

}

.header-nav-list{
    display: none;
    /* gap: 40px; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .header-nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

}

.header-nav-item{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.link-header{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.link-header:hover,
.link-header:focus{
    color: #404bbf;
}
.link-header.active{
    color: #404bbf;
}
.link-header.active::after{
  content: "";
  width: 48px;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;

}


.address-header{
    font-style: normal;
    /* margin-left: auto; */
}
.address-contacts-list{
    display: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px){
    .address-contacts-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 122px;
    }
}
@media only screen and (min-width: 1158px) {
    .address-contacts-list {
        flex-direction: row;
        gap: 40px;
    }
}
.contacts{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
    transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus{
    color: #404bbf;
}


.solutions{
    background-color: #2e2f42;
    padding: 72px 16px;
    background-image:linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/mobile-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px;  */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .solutions {
        padding: 122px 136px;
    }
}
@media screen and (min-width: 1158px) {
    .solutions {
        padding-top: 188px;
        padding-bottom: 188px;
        min-width: 1440px;
    }
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .solutions{
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/mobile/mobile-office-2.jpg);
    }
}

@media screen and (min-width: 768px){
    .solutions{
        padding: 122px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/tablet/tablet-office.jpg);
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .solutions {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/tablet/tablet-office-2.jpg);
        }
    }
}


@media screen and (min-width: 1158px){
    .solutions{
        background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/desktop/desktop-office-2.jpg);
        min-width: 1440px;
        padding: 188px;
        text-align: center;
    }


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/desktop/desktop-office-3.jpg);
    } 
  }
}


.title {
    min-width: 224px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin: 0 auto 72px;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .title{
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
    
}

@media screen and (min-width: 1158px) {
    .title {
        margin-bottom: 48px;
    }

}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.list-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
        align-items: baseline;
        position: relative;
}
@media screen and (min-width: 768px) {
    .list-title {
        font-weight: 700;

    }
}
@media screen and (min-width: 1158px) {
    .list-title {
        font-weight: 500;

    }
}

.text{
    padding: 120px 0;
   
}
.list-list-title{
    display: flex;
    row-gap: 72px;
    flex-direction: column;
    color: #2e2f42;
}

@media screen and (min-width: 768px) {
    .list-list-title{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    
}


.list-item{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .list-item {
        width: calc((100% - 24px) / 2);
    }

}
@media screen and (min-width: 1158px) {
    .list-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}
.list-icon{
    display: none; 
}

@media screen and (min-width: 1158px) {
    .list-icon {
        display: flex;
            background-color: #f4f4fd;
            flex-wrap: wrap;
            border-radius: 4px;
            border: 1px solid #8E8F99;
            gap: 24px;
            width: 264px;
            height: 112px;
            position: relative;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
    }

}

.list-icon .list-title{
    margin-bottom: 8px;
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

@media screen and (min-width: 768px) {
    .list-icon .list-title{
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .list-icon .list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.text-paragraph{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.svg-icon{
    position: absolute;
    top: 24px;
    left: 100px;
} 






.section{
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:1158px) {
   .section{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}






.our-team{
    background-color: #f4f4fd;
     padding: 96px 0; 
}


.our-team-header{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}


.our-team-list{
    background-color: #f4f4fd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 72px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .our-team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        justify-content: center;
    }
}


.team-list{
    width: 264px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

/* @media screen and (min-width: 768px) {
    .team-list {
        width: calc((100% - 24px) / 2);

    }
} */

@media screen and (min-width: 1158px) {
    .team-list {
        width: calc((100% - 24px * 3) / 4);
    }
}
.team-wrap{
    padding: 32px 0;
}
.team-list-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    }
.list-title-paragraph{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}


.social-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width:  40px;
    height: 40px;

    max-height: 100%;
    max-width: 100%;

    color: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin: 8px 0 32px 0;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
background-color: #404bbf;
}
.social-link-icon{
    fill: currentColor;
    width: 16px;
    height: 16px;
    justify-items: baseline;
}
.social-icon{
    height: 40px;
    width: 40px;
}





.portfolio{
    padding-top: 120px;
    padding-bottom: 120px
}

.portfolio-list{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 48px 24px;

    flex-direction: column;
    /* width: 100%; */

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-list{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 768px) and (min-width: 1158px) {
    .portfolio-list {
        gap: 72px 24px;
    }
}
.portfolio-list-list{
    width: 100%;

}

@media only screen and (min-width: 768px){
    .portfolio-list-list{
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media only screen and (min-width: 1158px) {
    .portfolio-list-list{
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

.portfolio-header{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.app-wrap{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;

}
.portfolio-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-app{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #f4f4fd;
        letter-spacing: -0.28px;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        padding: 40px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-list:hover .overlay{
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
}
.portfolio-wrapper{
    position: relative;
    overflow: hidden;
}




.footer{
    background-color: #2e2f42;
    padding: 96px 0;
}


@media screen and (min-width: 768px){
    .footer{
        padding: 100px 92px;
    }

}
@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

}


.container-footer{
    display: flex;
    /* margin-left: 156px; */
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px){
    .container-footer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 24px;
    }
}
@media screen and (min-width: 1158px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 0;
    }
}

.footer-text{
    text-align: center;
    /* max-width: 264px;
    margin-right: 120px; */
}
@media screen and (min-width: 768px){
    .footer-text{
        text-align: left;
        
    }
}
@media screen and (min-width: 1158px) {
    .footer-text {
        margin-right: 120px;
    }
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
span.logo-footer-studio{
    color: #f4f4fd;
}
.footer-paragraph{
    color: #ffffff;
    width: 264px;
    text-align: left;
    font-weight: 400;
}


.footer-social-media{
    /* display: flex; */
    gap: 16px;
    /* width: 100%;
    height: 100%; */
}


.footer-title{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .footer-title {
        text-align: left;
    }
}

    .social-info-footer{
        display: flex;
        gap: 16px;
        align-items: center;
    justify-content: center;
}
footer .social-link{
     width: 100%;
    height: 100%; 

    display: flex;
    align-items: center;
    justify-content: center;
   
}

footer .social-link:hover,
footer .social-link:focus{
        background-color: #31d0aa;   
}
footer .social-icon{
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 1158px){
    .footer-form{
        margin-left: auto;
    }
}

.footer-cap{
    color: #FFF;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .footer-cap {
       text-align: left;
    }
}

.form-subscribe {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .form-subscribe {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }
}

.footer-email{
    width: 100%;
}

.subscribe-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.subscribe-form-input::placeholder{
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .subscribe-form-input {
        width: 264px;

    }
}
@media screen and (min-width: 1158px) {
    .subscribe-form-input {
        width: 264px;
        opacity: 1;

    }
}
.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 500;

    min-width: 165px;
    padding: 8px 24px;

    color: #FFF;
    outline: none;
    line-height: 24px;
    letter-spacing: 0.04em;
    border-radius: 4px;

    background: #4D5AE5;     
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 24px; 
    cursor: pointer;  
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
    width: 24px;
    height: 24px;
}

.subscribe-btn:hover,
.subscribe-btn:focus{
    background: #404bbf;
}

@media (hover: hover){
    .subscribe-btn:active{
        background-color: #404BBF;
    }
}
@media not (hover: hover) {
    .subscribe-btn:active {
        background-color: #404BBF;
    }
}




 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    overflow-y: scroll;
} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.20);

    width: calc(100% - 32px);
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal{
        width: 408px;
        padding: 24px;
        padding-top: 72px;
    }
}


.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 24px;
    height: 24px;
    border-radius: 50%;

    color: #2e2f42;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: currentColor;
}

.modal-cap {
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        width: 360px;
        margin-bottom: 16px;
}

.modal-form{
    margin-bottom: 8px;
}

.form-label{
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
    color:  #8E8F99;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
}
.field{
    margin-bottom: 8px;
}
.form-field {
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    outline: transparent;
    padding-left: 38px;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4D5AE5;
}
.form-icon{
    position: absolute;
    top: 50% ;
    left: 16px ;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 18px;
    height: 24px;
}

.form-input:focus + .form-icon{
    fill: #4D5AE5;
}
.checkbox-wrapper {
    margin-bottom: 24px;
}
.field-textarea{
    margin-bottom: 16px;
}

 .form-comment{
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    background-color: transparent;
 }
 .form-comment:focus {
     border-color: #4D5AE5;
 }
 .form-message::placeholder{
    color: rgba(46, 47, 66, 0.4);
 }
 .form-message:focus{
    border-color: #4D5AE5;
 }

 .form-agreement {
    display: block;
    margin-bottom: 24px;

    color:  #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    user-select: none;
 }

 .form-agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    stroke-width: 1px;
    stroke: rgba(46, 47, 66, 0.40);

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    cursor: pointer;
 }

.form-agreement-icon {
    opacity: 0;

    transform: scale(0.3); 
    transition: opacity 250ms cubic-bezier(0.8, 0, 0, 1.8) 150ms,
        transform 250ms cubic-bezier(0.8, 0, 0, 1.8) 150ms;
}

.checkbox:checked + .form-agreement > .form-agreement-checkbox > .form-agreement-icon{
    opacity: 1;
    transform: scale(1);
} 
.checkbox:checked +.form-agreement > .form-agreement-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


 .form-agreement-link {
    color: #4D5AE5;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.04em;
        text-decoration-line: underline;
 }

 /* Menu */
 .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;

    background: #FFF;

    padding: 72px 16px 40px 16px;

    transform: translateX(-100px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* visibility: hidden; */
 }

 @media only screen and (min-width: 768px){
    .menu{
        display: none;
    }
 }

 .menu.is-open{
    transform: translateX(0);
    overflow-y: scroll;
    visibility: visible;
 }

 .menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .menu-nav-link {
    color:  #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
 }
.menu-nav-link.active{
    color: #404bbf;
}
 .menu-nav-item:not(:last-child) {
     margin-bottom: 40px;
 }

 
.contact-menu-wrapper{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.contact-nav-item:not(:last-child){
    margin-bottom: 24px;
}

.contact-nav-link{
    color: #434455;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
 .contact-nav-link:hover,
 .contact-nav-link:focus,
 .menu-nav-link:hover,
 .menu-nav-link:focus {
     color: #404bbf;
 }
 .socials {
    display: flex;
    align-items: center;
    gap: 40px;
 }

.socials>.socials-item{
    flex-shrink: 0;
}


.socials-icon{
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}


.socials-item {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    background-color: #4d5ae5;
    border-radius: 50%;

}

.socials-item:hover,
.socials-item:focus {
    background-color: #31d0aa;
}
